nav {
	background-color: #2a8992;
	color: rgb(125, 56, 75);
  }
  nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-size: 30px;
	padding: 0;
	margin: 0;
  }
  nav a {
	color: rgb(29, 59, 18);
	text-decoration: none;
	padding: 1rem;
  }
  .news {
	align-content: center;
	background-color: #f5f5f5;
	padding: 1rem;
	margin-top: 2rem;
  }
  .news h2 {
	display: flex;
            justify-content: center;
	font-size: 2rem;
	margin-bottom: 1rem;
  }
  .news ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  .news li {
	display: flex;
            justify-content: center;
	margin-bottom: 1rem;
  }
  .slideshow {
	margin: auto;
	left: 0;
	right: 0;
	top: 10px;
	width: 450px;
	height: 300px;
	overflow: hidden;
	position: relative;
  }
  .slideshow img {
	width: 80%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	animation: slide 12s infinite;
  }
  @keyframes slide {
	0% {opacity: 1; z-index: 1;}
	33.33% {opacity: 0; z-index: -1;}
	66.66% {opacity: 0; z-index: -1;}
  }
  .slideshow img:nth-child(2) {
	animation-delay: 4s;
  }
  .slideshow img:nth-child(3) {
	animation-delay: 8s;
  }